{% extends "base.html.twig" %}

{% block title %} Liste des joueurs
{% endblock %}

{% block body %}
    <a href="{{ path('index') }}">Retour</a>
<ul>
    {% for player in players %}
        <li>nom : {{ player.name }} ; <a href="{{ path("show_player", {id: player.id }) }}">Plus</a></li>
    {% endfor %}
</ul>
{% endblock %}