<ul>
    <li>Accueil</li>
    <li><a href="{{ path('index') }}">Vers index1</a></li>
    <li><a href="{{ path('hello_world') }}">Vers index2</a></li>
    <li><a href="{{ path('create_user') }}">new</a></li>
    <li><a href="{{ path('list_user') }}">liste</a></li>
</ul>