{% extends "base.html.twig" %}

{% block title %} liste des items
{% endblock %}

{% block body %}
    <a href="{{ path('index') }}">Retour</a>
    <ul>
{% for item in items %}
    <li>nom : {{ item.name }} ; type : {{ item.typeItem }}</li>
{% endfor %}
</ul>
{% endblock %}