{% extends "base.html.twig" %}

{% block title %}Ajout Item{% endblock %}

{% block body %}
    <a href="{{ path('index') }}">Retour</a>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}